# pip install -r requirements.txt
#conda create -p venv python=3.8 -y
# activate venv: conda activate venv/
# deavtivate: conda deactivate
# git add .
#git status
#git commit -m "first commit"
#git push -u origin main
# This file is used to install the required packages for the project.

numpy
pandas
scikit-learn
matplotlib
seaborn
scipy
catboost
xgboost
dill
flask



#-e .